.auth-prompt {
  background-color: var(--light-bg-color);
  width: 500px;
  padding: 40px 32px 60px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.auth-prompt > *:not(:last-child) {
  margin-bottom: 24px;
}

.auth-prompt .redirect {
  color: var(--primary-btn-color);
}

.auth-prompt .get-api-key {
  margin-left: 6px;
  color: var(--blue-color);
  text-align: left;
}