.modal-backdrop {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(60%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.modal {
  border-radius: 8px;
  background-color: var(--light-bg-color);
  color: #EAF2EF;
  padding: 24px;
  position: relative;
  z-index: 102;
}

.close-modal-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 101;
}

.modal .close-modal-icon {
  font-size: 20px;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  padding: 16px;
}