* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-bg-color);
}

input, select, textarea, button {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --dark-bg-color: #0D1116;
  --light-bg-color: #161C23;
  --primary-btn-color: #81F495;
  --male-color: #89CFF0;
  --female-color: #FF9CCD;
}

.container {
  padding: 16px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  max-width: 1280px;
  margin: 0 -16px;
  display: flex;
}

.col {
  position: relative;
  width: 100%;
  padding: 16px 0;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.btn {
  background-color: var(--primary-btn-color);
  color: var(--dark-bg-color);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px;
}
